<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hammad.findmyfamily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locator360"
        tools:targetApi="31">
        <activity
            android:name=".CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreen.FragmentSafety.AddEmergencyContactActivity"
            android:exported="false" />
        <activity
            android:name=".SignIn.ResetPassword.CreateNewPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignIn.ResetPasswordPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreen.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".CreateCircle.ShareCircleCodeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCircle.CreateCircleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OneTimeScreens.GeneralScreenTwoActivity"
            android:exported="false" />
        <activity
            android:name=".OneTimeScreens.GeneralScreenOneActivity"
            android:exported="false" />
        <activity
            android:name=".OneTimeScreens.RequestPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".OneTimeScreens.AddProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".OneTimeScreens.JoinCircleActivity"
            android:exported="false" />
        <activity
            android:name=".SignIn.EnterPasswordSignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignIn.EmailSignInActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignIn.ResetPassword.OTPActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OneTimeScreens.JoinCircleFirstScreenActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.CreatePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUp.EmailSignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUp.NameSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignIn.PhoneNoSignInActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUp.PhoneNoSignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StartScreen.StartScreenActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordEmailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hammad.android.findmyfamily"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBE9d03i-pCJMyNCOgwL298fVvJeeCetOw" />
    </application>

</manifest>